<div id="<%= dom_id pokemon %>">
  <p>
    <strong>Name:</strong>
    <%= pokemon.name %>
  </p>

  <p>
    <strong>Poke:</strong>
    <%= pokemon.poke_id %>
  </p>

  <p>
    <strong>Sort:</strong>
    <%= pokemon.sort %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= pokemon.image_url %>
  </p>

</div>
