
<table id="pokemon_table" class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Image</th>
      <th>Types</th>
      <th>Abilities</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @pokemons.each do |pokemon| %>  
      <tr>
        <td><%= pokemon.id %></td>
        <td><%= pokemon.name %></td>
        <td><img src="<%= pokemon.image_url %>" alt="<%= pokemon.name %>"></td>
        <td><%= pokemon.poke_types.map do |type| type.name end.join(', ')%></td>
        <td><%= pokemon.abilities.map do |ability| ability.name end.join(', ')%></td>
        <td>
          <%= link_to 'VIEW', pokemon %>
          <%= link_to 'EDIT', pokemon %>
          <%= link_to 'DELETE', pokemon %>
        </td>
      </tr>
    <%end%>
  </tbody>
</table>
