<div id="<%= dom_id trainer %>">
  <p>
    <strong>Name:</strong>
    <%= trainer.name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= trainer.last_name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= trainer.age %>
  </p>

  <p>
    <strong>Region:</strong>
    <%= trainer.region %>
  </p>

  <p>
    <strong>Hometown:</strong>
    <%= trainer.hometown %>
  </p>

</div>
